apiVersion: v1
kind: Namespace
metadata:
  name: pgadmin
  labels:
    app: pgadmin
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: pgadmin
  name: pgadmin-pvc
spec:
  storageClassName: homelab
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-configmap
  namespace: pgadmin
  labels:
    app: pgadmin
data:
  PGADMIN_DEFAULT_EMAIL: "r3d5un@pm.me"
  PGADMIN_CONFIG_SERVER_MODE: "False"
  PGADMIN_CONFIG_MASTER_PASSWORD_REQUIREDE: "False"
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-service
  namespace: pgadmin
spec:
  type: NodePort
  selector:
    app: pgadmin
  ports:
    - name: "http"
      nodePort: 31150
      port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: pgadmin
  labels:
    app: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:latest
          envFrom:
            - configMapRef:
                name: pgadmin-configmap
            - secretRef:
                name: pgadmin-secrets
          ports:
          - containerPort: 3000
            name: http
          volumeMounts:
          - name: pgadmin-data
            mountPath: /var/lib/pgadmin
      volumes:
        - name: pgadmin-data
          persistentVolumeClaim:
            claimName: pgadmin-pvc
        - name: localtime
          hostPath:
            path: /etc/localtime
      resources:
        limits:
          memory: "2Gi"
          cpu: "2"
        requests:
          memory: "512Mi"
          cpu: "500m"

